<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>481112771239-h736qq4g6b3dp30jsb9110b2mgn5idrr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.481112771239-h736qq4g6b3dp30jsb9110b2mgn5idrr</string>
	<key>API_KEY</key>
	<string>AIzaSyCPj6HLoFRDUMjVLcT3PknVU0lcxrFYLQA</string>
	<key>GCM_SENDER_ID</key>
	<string>481112771239</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.manualDeSobrevivencia</string>
	<key>PROJECT_ID</key>
	<string>manual-de-sobrevivencia2-0</string>
	<key>STORAGE_BUCKET</key>
	<string>manual-de-sobrevivencia2-0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:481112771239:ios:0457b30d881e8093dc2982</string>
	<key>DATABASE_URL</key>
	<string>https://manual-de-sobrevivencia2-0-default-rtdb.firebaseio.com</string>
</dict>
</plist>